<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img [src]="imgUrl">
  </a>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li>
        <h1>To Do L
          <span>i</span>st
          <span class="fa fa-pencil" aria-hidden="true"></span>
        </h1>
      </li>
    </ul>
    <div class="topnav-right">
      <a class="btn btn-success" href="/inscription">Sign Up</a>
      <a class="btn btn-primary " href="/login">Sign In</a>
      <a class="btn btn-danger" href="">Sign Out</a>
      <!-- <a  href="#"> <i class="fa fa-sign-in" style="font-size:36px"></i>
        Sign Up</a>
      <a class="btn btn-primary " href="#">Sign In</a>
      <a  href="#"><i class="fa fa-sign-out" style="font-size:36px"></i>
        Sign Out</a> -->
    </div>
  </div>
</nav>